/**$*$********************************************************************
*$*$                         SECCION SERVICIO MAKEUP                     *
*$*$**********************************************************************/
.productoMakeup {
  color: #525151;
}

.cantidadCarrito {
  padding: 10px 8px;
  width: 50%;
  font-size: 16px;
  border: 1px solid #6c757d;
  background-color: #f3efef;
}

.iconoCarrito {
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  color: #525151;
}
